<div class="p-2">
  <h3 class="text-center p-2">Enter Amount to Withdaw</h3>

  <form
    [formGroup]="amountForm"
    (ngSubmit)="submit(amountForm)"
    class="d-flex width-250"
  >
    <input
      id="amount"
      type="number"
      placeholder="Enter Amount"
      formControlName="amountToWithdraw"
    />
    <button type="submit" class="btn btn-primary ms-2">Submit</button>
  </form>

  <div
    *ngIf="transaction && transaction?.denomination"
    class="text-center mt-3 d-flex width-500"
  >
    <table class="table-bordered">
      <thead>
        <tr>
          <th>Date</th>
          <th>Amount</th>
          <th>Denomination</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ transaction.date | date }}</td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.denomination | json }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
